<template>
<div><br>
    <b-tabs pills card vertical>
      <b-tab title="Discount">
        <b-card-text>
            <div class="d-flex justify-content-between align-items-center mb-3">
                  <span>Setup Diskon</span>
<!-- ================================== Create Discount ======================================================== -->
                  <div>
            <b-button class="btn btn-info" v-b-modal.modal-prevent-closing7 >Create</b-button>
            <b-modal id="modal-prevent-closing7" ref="modal" title="Add Diskon">

                <form ref="form" @submit.stop.prevent="addDiscount()">
                <b-form-group label="Kode" label-for="kode-input" invalid-feedback="Kode is required" >
                    <b-form-input id="kode-input" v-model="discount.kodedisc" required></b-form-input>
                </b-form-group>

                <b-form-group label="Nama" label-for="nama-input" invalid-feedback="Nama is required" >
                    <b-form-input id="Nama-input" v-model="discount.nama" required ></b-form-input>
                </b-form-group>

               <b-form-group label="Kategori" label-for="kateg-input" invalid-feedback="Kategori is required" >
                <b-form-select  v-model="discount.kategori_id" size="m" class="mt-3 mb-3" >
                    <template slot="first">
                        <option value="" disabled>Pilih Kategori</option>
                        <option v-for="kategori in kategoris" :key="kategori.id" :value="kategori.id"> {{ kategori.nama }}</option>
                    </template>
                </b-form-select>
               </b-form-group>

                <!-- <Datetime v-model="date" input-id="startDate" class="mt-3 mb-3">
                <label for="startDate" slot="before">Periode Awal </label>
                <template slot="button-cancel">
                    <fa :icon="['far', 'times']"></fa>
                    Cancel
                </template>
                <template slot="button-confirm">
                    <fa :icon="['fas', 'check-circle']"></fa>
                    Confirm
                </template>
                </Datetime>

                <Datetime v-model="date2" input-id="startDate" class="mt-3 mb-3">
                <label for="startDate" slot="before">Periode Akhir</label>
                <template slot="button-cancel">
                    <fa :icon="['far', 'times']"></fa>
                    Cancel
                </template>
                <template slot="button-confirm">
                    <fa :icon="['fas', 'check-circle']"></fa>
                    Confirm
                </template>
                </Datetime> -->
                <b-form-group label="Periode Awal" label-for="date-input" invalid-feedback="Date is required" >
                    <datetime type="datetime" v-model='discount.periode_awal'></datetime>
                </b-form-group>

                <b-form-group label="Periode Akhir" label-for="date2-input" invalid-feedback="Date2 is required" >
                    <datetime type="datetime" v-model='discount.periode_akhir' ></datetime>
                </b-form-group>
<!-- format="yyyy-LL-dd HH:mm:ss" -->
                <!-- <b-form-group label="Besaran" label-for="besar-input" invalid-feedback="Besaran is required" >
                    <b-form-input id="Besaran-input" v-model="discount.besaran_disc" required ></b-form-input>
                </b-form-group> -->

                <!-- b-form-group label="Pilih Lini" label-for="Lini-input" invalid-feedback="Lini is required" >
                    <b-form-input id="Lini-input" v-model="discount.lini_id" required ></b-form-input>
                </b-form-group>

                <b-form-group label="Pilih Toko" label-for="Toko-input" invalid-feedback="Toko is required" >
                    <b-form-input id="Toko-input" v-model="discount.toko_id" required ></b-form-input>
                </b-form-group> -->

               <b-form-group label="Lini" label-for="lini-input" invalid-feedback="Lini is required" >
                <b-form-select  v-model="discount.lini_id" size="m" class="mt-3 mb-3">
                    <template slot="first">
                        <option value="" disabled>Pilih Lini</option>
                        <option v-for="lini in linis" :key="lini.id" :value="lini.id"> {{ lini.lini_product }}</option>
                    </template>
                </b-form-select>
               </b-form-group>

                <b-form-group label="Toko" label-for="toko-input" invalid-feedback="Toko is required" >
                <b-form-select  v-model="discount.toko_id" size="m" class="mt-3 mb-3">
                    <template slot="first">
                        <option value="" disabled>Pilih Toko</option>
                        <option v-for="toko in tokos" :key="toko.id" :value="toko.id"> {{ toko.nama }}</option>
                    </template>
                </b-form-select>
               </b-form-group>

               <b-form-group label="Gambar Brosur" label-for="Brosur-input" invalid-feedback="Brosur is required" >
                    <b-form-input id="Brosur-input" v-model="discount.gambar_brosur" required ></b-form-input>
                </b-form-group>
                </form>

                <template slot="modal-footer" slot-scope="{ok, cancel}">
                    <b-button variant="success"  @click="addDiscount()||ok()">Submit</b-button>
                    <b-button variant="danger" @click="cancel()">Cancel</b-button>
                </template>
            </b-modal>
<!-- ==================================================================================================== -->
            </div>
            </div>
              <table class="table">
                  <tr>
                      <td>ID</td>
                      <td>Kode Discount</td>
                      <td>Nama Discount</td>
                      <td>Kategori Discount</td>
                      <td>Periode Awal</td>
                      <td>Periode Akhir</td>
                      <td>Besaran</td>
                      <td>Lini</td>
                      <td>Toko</td>
                      <td>Action</td>
                  </tr>
                  <tr v-for="discount in discounts" :key="discount.id">
                    <td>{{ discount.id }}</td>
                    <td>{{ discount.kodedisc }}</td>
                    <td>{{ discount.nama }}</td>
                    <td>{{ discount.kategori_nama }}</td>
                    <td>{{ discount.periode_awal }}</td>
                    <td>{{ discount.periode_akhir }}</td>
                    <td>{{ discount.besaran_disc }}</td>
                    <td>{{ discount.lini_product }}</td>
                    <td>{{ discount.toko_nama }}</td>
                    <td><button class="btn btn-success btn-sm ml-1" v-b-modal.modal-prevent-closing9>Edit</button>
                    <button class="btn btn-warning btn-sm ml-1" @click="delNew(1, discount.id)">Delete</button></td>
                </tr>
              </table>
              </b-card-text>
          </b-tab>
<!-- ================================== Edit Discount ======================================================== -->
          <div>
                    <b-modal id="modal-prevent-closing9" ref="modal" title="Edit Diskount">
                        <form ref="form" @submit.stop.prevent="editDiscount()">
                        <b-form-group label="Kode" label-for="kode-input" invalid-feedback="Kode is required" >
                            <b-form-input id="kode-input" v-model="discount.kodedisc" required></b-form-input>
                        </b-form-group>
                        <b-form-group label="Nama" label-for="nama-input" invalid-feedback="Nama is required" >
                            <b-form-input id="Nama-input" v-model="discount.nama" required ></b-form-input>
                        </b-form-group>
                        <b-form-select v-model="discount.kategori_id" :options="options" size="sm" class="mt-3 mb-3">
                        <template slot="first">
                            <option :value="null" disabled>-- Please select an option --</option>
                            </template>
                        </b-form-select>
                        <datetime v-model="date" input-id="startDate" class="mt-3 mb-3">
                        <label for="startDate" slot="before">Periode Awal</label>
                        <template slot="button-cancel">
                            <fa :icon="['far', 'times']"></fa>
                            Cancel
                        </template>
                        <template slot="button-confirm">
                            <fa :icon="['fas', 'check-circle']"></fa>
                            Confirm
                        </template>
                        </datetime>
                        <datetime v-model="date" input-id="startDate" class="mt-3 mb-3">
                        <label for="startDate" slot="before">Periode Akhir</label>
                        <template slot="button-cancel">
                            <fa :icon="['far', 'times']"></fa>
                            Cancel
                        </template>
                        <template slot="button-confirm">
                            <fa :icon="['fas', 'check-circle']"></fa>
                            Confirm
                        </template>
                        </datetime>
                        </form>
                        <template slot="modal-footer" slot-scope="{ok, cancel}">
                            <b-button variant="success" @click="editDiscount() || ok()">Submit</b-button>
                            <b-button variant="danger" @click="cancel()">Cancel</b-button>
                        </template>
                    </b-modal>
                    </div>
<!-- ==================================================================================================== -->
      <b-tab title="Kategori">
          <b-card-text>
            <div class="d-flex justify-content-between align-items-center mb-3">
                  <span>Setup Kategori</span>
<!-- ================================== Create Kategori ======================================================== -->
                  <div>
                    <b-button class="btn btn-info" v-b-modal.modal-prevent-closing>Create</b-button>
                    <b-modal id="modal-prevent-closing" ref="modal" title="Add Kategori">
                        <form ref="form" @submit.stop.prevent="addKategori()">
                        <b-form-group label="Kode" label-for="kode-input" invalid-feedback="Kode is required" >
                            <b-form-input id="kode-input" v-model="kategori.kode" required></b-form-input>
                        </b-form-group>
                        <b-form-group label="Nama" label-for="nama-input" invalid-feedback="Nama is required" >
                            <b-form-input id="Nama-input" v-model="kategori.nama" required ></b-form-input>
                        </b-form-group>
                        </form>
                        <template slot="modal-footer" slot-scope="{ok, cancel}">
                            <b-button variant="success" @click="addKategori()|| ok()">Submit</b-button>
                            <b-button variant="danger" @click="cancel()">Cancel</b-button>
                        </template>
                    </b-modal>
                </div>
<!-- ==================================================================================================== -->

            </div>
              <table class="table" >
                <tr>
                    <td>ID</td>
                    <td>Kode Kategori</td>
                    <td>Nama Kategori</td>
                    <td>Action</td>
                </tr>
                <tr v-for="kategori in kategoris" v-bind:key="kategori.id">
                    <td>{{ kategori.id }}</td>
                    <td>{{ kategori.kode }}</td>
                    <td>{{ kategori.nama }}</td>
                    <td>
                    <button class="btn btn-success btn-sm ml-1" v-b-modal.editKat @click="setVal(kategori.id, kategori.kode, kategori.nama);getEdit=1;">Edit</button>
                    <button class="btn btn-warning btn-sm ml-1" @click="delNew(2, kategori.id)">Delete</button></td>
                </tr>
              </table>
          </b-card-text>
          </b-tab>
<!-- ================================== Edit Kategori ======================================================== -->
          <div>
              <!-- <b-modal ref="my-modal" hide-footer title="Using Component Methods">
      <div class="d-block text-center">
        <h3>Hello From My Modal!</h3>
      </div>
      <b-button class="mt-3" variant="outline-danger" block @click="hideModal">Close Me</b-button>
      <b-button class="mt-2" variant="outline-warning" block @click="toggleModal">Toggle Me</b-button>
    </b-modal> -->
                    <b-modal id="editKat" ref="modal">
                        <template slot="modal-title" v-if="getEdit===1">
                            Edit Kategori
                        </template>
                        <template slot="modal-title" v-if="getEdit===2">
                            Edit Toko
                        </template>
                        <template slot="modal-title" v-if="getEdit===3">
                            Edit Lini
                        </template>
                        <form ref="form" @submit.stop.prevent="editNew()">
                        <b-form-group label="Kode" label-for="kode-input" invalid-feedback="Kode is required" >
                            <b-form-input id="kode-input" v-model="kode" required></b-form-input>
                        </b-form-group>
                        <b-form-group label="Nama" label-for="nama-input" invalid-feedback="Nama is required" >
                            <b-form-input id="Nama-input" v-model="nama" required></b-form-input>
                        </b-form-group>
                        </form>
                        <template slot="modal-footer" slot-scope="{ok, cancel}">
                            <b-button variant="success" @click="editNew() || ok()">Submit</b-button>
                            <b-button variant="danger" @click="cancel()">Cancel</b-button>
                        </template>
                    </b-modal>
                    <!-- <b-modal v-if="showModal" @close="showModal=false">
                    <h3 slot="header">Edit Item</h3>
                    <div slot="body">
                        
                        <input type="hidden" disabled class="form-control" id="e_id" name="id"
                                required  :value="this.e_id">
                        Name: <input type="text" class="form-control" id="e_name" name="name"
                                required  :value="this.e_name">
                        Age: <input type="number" class="form-control" id="e_age" name="age"
                        required  :value="this.e_age">
                        Profession: <input type="text" class="form-control" id="e_profession" name="profession"
                        required  :value="this.e_profession">
                        
                      
                    </div>
                    <div slot="footer">
                        <button class="btn btn-default" @click="showModal = false">
                        Cancel
                      </button>
                      
                      <button class="btn btn-info" @click="editItem()">
                        Update
                      </button>
                    </div>
                </b-modal> -->
                    </div>
<!-- ==================================================================================================== -->

      <b-tab title="Toko">
          <b-card-text>
             <div class="d-flex justify-content-between align-items-center mb-3">
                  <span>Setup Toko</span>

<!-- ================================== Create Toko ======================================================== -->
                  <div>
                    <b-button class="btn btn-info" v-b-modal.modal-prevent-closing2>Create</b-button>
                    <b-modal id="modal-prevent-closing2" ref="modal" title="Add Toko">
                        <form ref="form" @submit.stop.prevent="addToko()">
                        <b-form-group label="Kode" label-for="kode-input" invalid-feedback="Kode is required" >
                            <b-form-input id="kode-input" v-model="toko.kode" required></b-form-input>
                        </b-form-group>
                        <b-form-group label="Nama" label-for="nama-input" invalid-feedback="Nama is required" >
                            <b-form-input id="Nama-input" v-model="toko.nama" required ></b-form-input>
                        </b-form-group>
                        </form>
                        <template slot="modal-footer" slot-scope="{ok, cancel}">
                            <b-button variant="success" @click="addToko() || ok()">Submit</b-button>
                            <b-button variant="danger" @click="cancel()">Cancel</b-button>
                        </template>
                    </b-modal>
                  </div>
<!-- ==================================================================================================== -->
              </div>
              <table class="table" >
                <tr>
                    <td>ID</td>
                    <td>Kode Toko</td>
                    <td>Nama Toko</td>
                    <td>Action</td>
                </tr>
                <tr v-for="toko in tokos" :key="toko.id">
                    <td>{{ toko.id }}</td>
                    <td>{{ toko.kode }}</td>
                    <td>{{ toko.nama }}</td>
                    <td><button class="btn btn-success btn-sm ml-1" v-b-modal.editKat @click="setVal(toko.id, toko.kode, toko.nama);getEdit=2;">Edit</button>
                    <button class="btn btn-warning btn-sm ml-1" @click="delNew(3, toko.id)">Delete</button></td>
                </tr>
              </table>
          </b-card-text>
          </b-tab>
<!-- ================================== Edit Toko ======================================================== -->
          <b-modal id="modal-prevent-closing5" ref="modal" title="Edit Toko">
                        <form ref="form" @submit.stop.prevent="editToko()">
                        <b-form-group label="Kode" label-for="kode-input" invalid-feedback="Kode is required" >
                            <b-form-input id="kode-input" v-model="toko.kode" required></b-form-input>
                        </b-form-group>
                        <b-form-group label="Nama" label-for="nama-input" invalid-feedback="Nama is required" >
                            <b-form-input id="Nama-input" v-model="toko.nama" required ></b-form-input>
                        </b-form-group>
                        </form>
                        <template slot="modal-footer" slot-scope="{ok, cancel}">
                            <b-button variant="success" @click="editToko() || ok()">Submit</b-button>
                            <b-button variant="danger" @click="cancel()">Cancel</b-button>
                        </template>
                    </b-modal>
<!-- ==================================================================================================== -->

      <b-tab title="Lini">
          <b-card-text>
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <span>Setup Lini</span>

<!-- ================================== Create Lini ======================================================== -->
                  <div>
                    <b-button class="btn btn-info" v-b-modal.modal-prevent-closing3>Create</b-button>
                    <b-modal id="modal-prevent-closing3" ref="modal" title="Add Lini">
                        <form ref="form" @submit.stop.prevent="addLini()">
                        <b-form-group label="Kode" label-for="kode-input" invalid-feedback="Kode is required" >
                            <b-form-input id="kode-input" v-model="lini.kode" required></b-form-input>
                        </b-form-group>
                        <b-form-group label="Nama" label-for="nama-input" invalid-feedback="Nama is required" >
                            <b-form-input id="Nama-input" v-model="lini.lini_product" required ></b-form-input>
                        </b-form-group>
                        </form>
                        <template slot="modal-footer" slot-scope="{ok, cancel}">
                            <b-button variant="success" @click="addLini() || ok()">Submit</b-button>
                            <b-button variant="danger" @click="cancel()">Cancel</b-button>
                        </template>
                    </b-modal>
                  </div>
<!-- ==================================================================================================== -->
              </div>
              <table class="table" >
                <tr>
                    <td>ID</td>
                    <td>Kode Lini</td>
                    <td>Lini Produk</td>
                    <td>Action</td>
                </tr>
                <tr v-for="lini in linis" :key="lini.id">
                    <td>{{ lini.id }}</td>
                    <td>{{ lini.kode }}</td>
                    <td>{{ lini.lini_product }}</td>
                    <td><button class="btn btn-success btn-sm ml-1" v-b-modal.editKat @click="setVal(lini.id, lini.kode, lini.lini_product);getEdit=3;">Edit</button>
                    <button class="btn btn-warning btn-sm ml-1" @click="delNew(4, lini.id)">Delete</button></td>
                </tr>
              </table>
          </b-card-text>
      </b-tab>
<!-- ================================== Edit Lini ======================================================== -->
      <b-modal id="modal-prevent-closing6" ref="modal" title="Edit Lini">
                        <form ref="form" @submit.stop.prevent="editLini()">
                        <b-form-group label="Kode" label-for="kode-input" invalid-feedback="Kode is required" >
                            <b-form-input id="kode-input" v-model="lini.kode" required></b-form-input>
                        </b-form-group>
                        <b-form-group label="Nama" label-for="nama-input" invalid-feedback="Nama is required" >
                            <b-form-input id="Nama-input" v-model="lini.lini_product" required ></b-form-input>
                        </b-form-group>
                        </form>
                        <template slot="modal-footer" slot-scope="{ok, cancel}">
                            <b-button variant="success" @click="editLini() || ok()">Submit</b-button>
                            <b-button variant="danger" @click="cancel()">Cancel</b-button>
                        </template>
                    </b-modal>
<!-- ==================================================================================================== -->

    </b-tabs>
</div>
</template>
<script><link rel="stylesheet" href="vue-datetime.css"></link></script>
<script src="vue.js"></script>
<script src="luxon.js"></script>
<script src="vue-datetime.js"></script>
<script>
import axios from 'axios'
export default {
    data(){
        return {
            getId:'',
            getEdit:'',
            kode:'',
            nama:'',
            kategoris: [],
            kategori: {
                kode:'',
                nama:''
            },
            discounts: [],
            discount: {
                kodedisc:'',
                nama:'',
                kategori_id:'',
                periode_awal: '',
                periode_akhir:'',
                besaran_disc:'',
                lini_id:'',
                toko_id:'',
                gambar_brosur:''

            },
            tokos: [],
            toko: {
                kode:'',
                nama:'',

            },
            linis: [],
            lini: {
                kode:'',
                lini_product:''
            },
            options:[],
            interval: null,
        }
    },
    methods: {
        setVal(val_id, val_kode, val_name) {
            this.getId = val_id;
            this.kode = val_kode;
            this.nama = val_name;
        },

        addKategori(){
            axios.post('/api/kategori',
                this.kategori
            )
            .then(response => {
                console.log(response);
                this.kategoris=response.data
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        addDiscount(){
            axios.post('/api/discount',
                this.discount
            )
            .then(response => {
                console.log(response);
                this.discounts=response.data
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        addToko(){
            axios.post('/api/toko',
                this.toko
            )
            .then(response => {
                console.log(response);
                this.tokos=response.data
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        addLini(){
            axios.post('/api/lini',
                this.lini
            )
            .then(response => {
                console.log(response);
                this.linis=response.data
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        delNew(i,id){
            var del = null;
            if(i==1){
                del = '/api/discount/'+id;
            }else if(i==2){
                del = '/api/kategori/'+id;
            }else if(i==3){
                del = '/api/toko/'+id;
            }
            else if(i==4){
                del = '/api/lini/'+id;
            }
            axios.delete(del,{
                headers: {
                    'Content-type': 'application/x-www-form-urlencoded',
                }
            })
            .then(response => {
                this.getDiscont()
                this.getKategori()
                this.getLini()
                this.getToko()
                this.$nextTick(() => {
                    this.$refs.modal.hide()
                })
            })
        },
        editNew(){
            var put = null;
            var kirim = null;
            if(this.getEdit==1){
                this.kategori.kode = this.kode;
                this.kategori.nama = this.nama;
                put = '/api/kategori/'+this.getId;
                kirim = this.kategori;
            }else if(this.getEdit==2){
                this.toko.kode = this.kode;
                this.toko.nama = this.nama;
                put = '/api/toko/'+this.getId;
                kirim = this.toko;
            }else{
                this.lini.kode = this.kode;
                this.lini.lini_product = this.nama;
                put = '/api/lini/'+this.getId;
                kirim = this.lini;
            }
            axios.put(put, kirim)
            .then(response => {
                console.log(response);
                this.nama = '';
                this.kode = '';
                if(this.getEdit==1)
                    this.kategoris=response.data;
                else if(this.getEdit==2)
                    this.tokos=response.data;
                else
                    this.linis=response.data;
                
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        editKategori(){
            axios.put('/api/kategori/'+this.getId,
                this.kategori
            )
            .then(response => {
                console.log(response);
                this.kategoris=response.data
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        editDiscount(){
            axios.put('/api/discount',
                this.discount
            )
            .then(response => {
                console.log(response);
                this.discounts=response.data
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        editLini(){
            axios.put('/api/lini',
                this.lini
            )
            .then(response => {
                console.log(response);
                this.linis=response.data
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        editToko(){
            axios.put('/api/toko',
                this.toko
            )
            .then(response => {
                console.log(response);
                this.tokos=response.data
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        getKategori() {
            axios.get("http://127.0.0.1:8000/api/kategori")
            .then((response) => {
                console.log(response.data)
                this.kategoris = response.data
            })
            .catch((error) => {
                console.log(error)
            })
        },
        getDiscont() {
            axios.get("http://127.0.0.1:8000/api/discount")
            .then((response) => {
                console.log(response.data)
                this.discounts = response.data
            })
            .catch((error) => {
                console.log(error)
            })
        },
        getToko() {
            axios.get("http://127.0.0.1:8000/api/toko")
            .then((response) => {
                console.log(response.data)
                this.tokos = response.data
            })
            .catch((error) => {
                console.log(error)
            })
        },
        getLini() {
            axios.get("http://127.0.0.1:8000/api/lini")
            .then((response) => {
                console.log(response.data)
                this.linis = response.data
            })
            .catch((error) => {
                console.log(error)
            })
        },
        setOptions:  function(){
            axios.get("http://127.0.0.1:8000/api/kategori")
            .then((response) => {
                console.log(response.data)
                for (let i = 0; i < response.data.length; i++) {
                this.options.push({
                    value: response.data[i].id ,
                    text: response.data[i].nama,
                })
            }
            })
            .catch((error) => {
                console.log(error)
            })
        }
    },
    beforeDestroy(){
        clearInterval(this.interval)
    },
    created() {
        this.getKategori()
        this.getDiscont()
        this.getLini()
        this.getToko()
    },
    commputed:{
    }
    
}



</script>
