<template>
<div><br>
    <b-tabs pills card vertical>
      <b-tab title="Discount" v-bind:id="Disc">
        <!-- <router-link to="/Content"></router-link> -->
          <b-card-text>
              Setup Discount
              <b-table striped hover :items="items1">
              </b-table>
          </b-card-text></b-tab>
      <b-tab title="Kategori">
          <b-card-text>
              Setup Kategori<br>
              <b-table striped hover :items="items2" >
              </b-table>
          </b-card-text></b-tab>
      <b-tab title="Toko">
          <b-card-text>
              Setup Toko<br>
              <b-table striped hover :items="items3"></b-table>
          </b-card-text></b-tab>
      <b-tab title="Lini">
          <b-card-text>
              Setup Lini<br>
              <b-table striped hover :items="items4"></b-table>
          </b-card-text></b-tab>
    </b-tabs>
</div>
</template>

<script>
export default {
    data(){
        return{
        items1: [
          { ID:'', Kode:'', Nama_Discount:'', Kategori_Discount:'',Periode_Awal:'',Periode_Akhir:'',Besaran_Discount:'',Lini_Produk:'',ID_Toko:'',Brosur:'' },

        ],
        items2: [
          { ID:'a', Kode: 's', Nama_Kategori: 'd' },
        ],
        items3: [
          { ID: '', Kode: '', Nama_Toko: '' },
        ],
        items4: [
          { ID: '', Kode_Lini: '', Lini_Produk: '' },
        ]
        }
    }
}
</script>
