<template>
  <div id="nav">
      <div class="container">
  <b-navbar toggleable type="" variant="light">


    <b-navbar-brand>
         <b-img src="https://amigogroup.shop/wp-content/uploads/2018/01/logo-amigo-thok.png" width="60" height="40" ></b-img>

    </b-navbar-brand>
  </b-navbar>
</div>
</div>
</template>









